html {
  background-color: #eee;
}

body {
  margin: 1em auto;
  padding: 1em;
  width: max-content;
  box-shadow: 0 0 1em #ccc;
  background-color: #fff;
  font-size: 16px;
  font-family: monospace;
  color: #333;
  text-align: center;
  overflow: hidden;
}

#flip {
  position: relative;
  margin: 1em;
  box-shadow: 0 0 0.5em #999;
  border-radius: 0.5em;
  font-size: 25px;

  .card {
    position: relative;
    width: 70vmin;
    height: 70vmin;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: 1em solid rgba(50, 20, 0, 0.5);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 150% auto;
    background-position: center 15%;
    font-weight: bold;

    &[value="01"] {
      background-image: url('./card_01.jpg');
    }
    &[value="02"] {
      background-image: url('./card_02.jpg');
    }
    &[value="03"] {
      background-image: url('./card_03.jpg');
    }
    &[value="04"] {
      background-image: url('./card_04.jpg');
    }
    &[value="05"] {
      background-image: url('./card_05.jpg');
    }
    &[value="06"] {
      background-image: url('./card_06.jpg');
    }

    &::before,
    &::after {
      --size: 6px;

      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: var(--size) var(--size);
    }

    &::before {
      --color: #fff;

      background-image: linear-gradient(45deg,
        transparent 25%, var(--color) 25%,
        var(--color) 50%, transparent 50%,
        transparent 75%, var(--color) 75%
      );
    }
    &::after {
      --color: #fff;

      background-image: linear-gradient(135deg,
        transparent 25%, var(--color) 25%,
        var(--color) 50%, transparent 50%,
        transparent 75%, var(--color) 75%
      );
    }
  }
}

.row {
  margin: 0.5em;
  vertical-align: middle;
  
  input {
    font-family: monospace;
    font-size: 0.85rem;
    vertical-align: text-top;
  }

  .name {
    font-weight: bold;
  }
}
