html {
  background-color: #eee;
}

body {
  margin: 1em auto;
  padding: 1em;
  width: max-content;
  box-shadow: 0 0 1em #ccc;
  background-color: #fff;
  font-size: 16px;
  font-family: monospace;
  color: #333;
  text-align: center;
}

#flip {
  --axis-size: 1px;
  --axis-color: rgba(0, 0, 0, 0.25);

  position: relative;
  margin: 1em;
  box-shadow: 0 0 0.5em #999;
  border-radius: 0.5em;
  font-size: 25px;

  .candidate {
    padding: 1em;
    border-radius: 0.5em;
    background: #eee;
    font-weight: bold;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: var(--axis-color);
    display: block;
    pointer-events: none;
    z-index: 1;
  }
  
  &::before {
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    left: 0;
    height: var(--axis-size);
  }

  &::after {
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    left: 50%;
    width: var(--axis-size);
  }
}

.row {
  margin: 0.5em;
  vertical-align: middle;
  
  input {
    font-family: monospace;
    font-size: 0.85rem;
    vertical-align: text-top;
  }

  .name {
    font-weight: bold;
  }
}
